# Database
DATABASE_URL="postgresql://admin:password@localhost:5432/bookapp?schema=public"
DB_USER=admin
DB_PASSWORD=password
DB_NAME=bookapp

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Minio (S3 Storage)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=books

# JWT
JWT_SECRET=super-secret-key-change-it
JWT_EXPIRES_IN=1d

# App
PORT=3000
NODE_ENV=development
